body {
  background-color: white;
  color: black;
}

#headerTitle {
  text-align: center;
  color: black;
}

.filterContainer {
  color: black !important;
}

#data .columnSelector {
  background-color: rgb(146, 146, 146) !important;
  color: black;
}

#data td,
#data th {
  border: 1px solid black;
  color: black;
}

#data td {
  border-top: none;
}

#data thead::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  border: 1px solid black;
  border-left-style: none; /* Color of the track (area behind the scroll thumb) */
}

#data tbody::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  /* border-left-style: none; Color of the track (area behind the scroll thumb) */
}

#data tbody::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  border-left: none;
}

#data tr:nth-child(even) {
  background-color: #c1c1c1;
}

#data tr:nth-child(odd) {
  background-color: #d7d7d7;
}

#data tr.selected {
  background-color: #9b92c2 !important;
}

#data tr:hover {
  background-color: #b7b0d6;
}

a {
  color: black;
}

#data select,
#data select option,
#data select option>* {
  background-color: #181818;
  color: white;
}

#data select.to-do {
  background-color: darkred;
  color: white;
}

#data select.investigating {
  background-color: #fdcc72;
  color: white;
}

#data select.waiting-on-internal-task {
  background-color: #c3c368;
  color: white;
}

#data select.waiting-on-customer {
  background-color: blue;
  color: white;
}

#data select.done {
  background-color: green;
  color: white
}

#data select.community {
  background-color: darkslateblue;
  color: white
}

#data select.forward {
  background-color: darkblue;
  color: white
}

.unsaved {
  background-color: #6a9eb3 !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #353333;
  border: 1px solid #888;
}

#closeMergeModal,
#closeSettingsModal {
  color: white;
}

#mergeModalIframe {
  color: white;
}