#mergeModalIframe {
  width: 100%;
  height: 100% !important;
}

#modalBody {
  display: flex;
  flex-direction: column;
  /* margin: 40px; */
  justify-content: center;
  overflow: hidden;
}

#iframeInputView_Group1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#iframeInputView_Group2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-height: 5em;
}

.iframeBtnContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  width: 14em;
}

.mergeButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5em;
  max-height: 21px;
}

#modalBody span {
  margin-bottom: 5px;
}

.iframeBtnContainer input,
.iframeBtnContainer button {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

#mergeButtonContainer {
  display: flex;
  flex-direction: row;
}

#mergeButton {
  width: fit-content;
  width: -moz-fit-content;
}

#mergeStatus {
  margin-bottom: 0px;
  display: flex;
  align-items: flex-end;
  width: fit-content;
  width: -moz-fit-content;
}